/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

@media print {
    body * {
      visibility: hidden;
    }
    .printable, .printable * {
      visibility: visible;
    }
    .printable {
      position: absolute;
      left: 0;
      top: 0;
    }
    .no-printable * {
        visibility: hidden;
    }
  }